{% extends "admin/base.html" %}


{% block content %}

<h1>Recently Modified Pages:</h1>

<ul style="list-style-type:none; padding-left:20px">
  {% for page in pages %}
  <li style="padding-bottom:10px;">
    <b>{{page.title|escape}}</b> -
    <a href="{% url views.main.get_url page.path %}">view</a> -
    <a href="{% url views.admin.edit_page page.key.id %}">edit</a> -
    <a href="{% url views.admin.new_page page.key.id %}">add child</a>
    <br>
    <span style="font-size:10pt">
      <span style="color:green;">
        {% if page.path %}
          {{ page.path }}
        {% else %}
          <i>root</i>
        {% endif %}
      </span> -
      id: {{ page.key.id }} -
      last modified: {{ page.modified|date:"m/d/Y" }}
    </span>
  {% endfor %}
</ul>

{% endblock %}
